%table{:id => 'comments-list'}
  - comments.each_with_index do |comment, index|
    %tr{:class => resolve_class_for_coloring_comment(comment)}
      %td
        = render :partial => 'comments/single_comment', :locals => {:comment => comment}

        %table{:id => "child-comments-#{comment.id}", :class => "child-comments"}
          - comment.children.each do |comment|
            = render :partial => 'comments/comment', :locals => {:comment => comment}

= paginate comments

