.layout-content {margin-right:auto;}
.comment-overview {border-style:none;}
.right-sidebar {float:left; margin-left:auto; margin-top:3em;}
.right-sidebar img {display:none;}
.hide-on-narrow {display:none !important;}
.site-title {float:none;}
