.layout-content {margin-right:auto;}
.comment-overview {border-style:none;}
.right-sidebar {float:left; margin-left:auto; margin-top:3em;}
.right-sidebar img {display:none;}
.hide-on-smaller {display:none !important;}
.site-title {float:none;}
.top-nav-bar ul, .pagination {padding: 0.2em 1em 0.2em 1em;}
.top-nav-bar li, .filters-menu li {margin: 0 1em 0 0;}
