<p>Hello <%= @reply_notification.user %>,</p>

<p>You received a reply to one of your posts on <%= app_name %>:</p>
<br>
<blockquote><%= @reply_notification.comment.text %></blockquote>
<br>

<p><%= link_to "Click here to respond", comment_url(@reply_notification.comment) %> to this comment.</p>

<p>Thanks for sharing!</p>
