.filters-menu
  %ul{:class => 'cleared'}
    %li= link_to_unless_current_action "Profile", user_path(user)
    %li= link_to_unless_current_action "Submissions", user_submissions_path(user)
    %li= link_to_unless_current_action "Comments", user_comments_path(user)
    %li= link_to_unless_current_action "Votes", user_votes_path(user)
