%table{:id => "submissions-list"}
  - submissions.each_with_index do |submission, index|
    = render :partial => 'submissions/single_submission', :locals => {:submission => submission, :index => index}

= paginate submissions
