a { color: #333; }
a:hover {color: #333 !important;}
.filters-menu a:visited, .top-nav-bar a:visited {color: #333;}
a:visited { color: #888; }
a:hover { background-color:#dadada;}
a.vote-up:hover {color:none; background-color:transparent; border:1px solid #ffbb22;}

#submissions-list .dim, 
#submissions-list .dim a, 
#submissions-list .dim a:visited,
#submissions-list .dim .score-bracket,
#submissions-list .dim .submission-description,
.admin-links a {
  color:#999;
}

#submissions-list .dim .submission-link a {color:#bbb;}
.top-nav-bar ul li a:hover, .filters-menu ul li a:hover {background-color: #ddd;}

.extension-hint, .submission-description, .rank, .reply-link, .comment-signature {color:#888;}

a.vote-up:hover {color:none; background-color:transparent; border:1px solid #039;}
.score-bracket {color:#039;}
.site-title h1 {color:#003366; line-height:1.4em;}
.bookmarklet img {border-color:#039;}

.rank {display:none;}

#comments-list > tbody > tr, .top-nav-bar ul, .filters-menu ul {background-color:#f2f2f2;}
