%p
  Hello #{@resource.username},
%p Your account was locked from trying to sign in too many times without the correct password.
%p Please click the link below to unlock your account:
%p= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token)
